* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  &nav.show {
    overflow: hidden;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    nav {
      width: 100dvw;
      height: 100dvh;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: all .3s ease-in-out;
      background-color: blue;
      opacity: 0;

      &.show {
        transform: translateX(0);
        opacity: 100%;
      }
    }

    .burger {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.2rem;
      z-index: 1;

      .bar {
        background-color: black;
        width: 28px;
        height: 2px;
        transition: all .3s ease-in-out;

        &:nth-child(2) {
          width: 24px;
        }
      }

      &.active {
        .bar:nth-child(1) {
          transform: translateY(5px) rotate(45deg);
        }

        .bar:nth-child(2) {
          transform: translateY(0px) rotate(-45deg);
          width: 28px;
        }
      }
    }
  }
}